[tools]
java = "temurin-17"
maven = "latest"
mongodb = "latest"

[tasks.setup]
description = "Installs the required tools (Java, Maven, MongoDB) using mise."
run = "mise install"

[tasks.build]
run = "./mvnw clean install"

[tasks.spotless]
run = "mvn spotless:apply"

[tasks.start-db]
description = "Starts the MongoDB database as a background process using Docker Compose."
run = "docker compose up -d"

[tasks.stop-db]
description = "Stops the MongoDB database."
run = "docker compose down"

[tasks.test]
description = "Runs the integration tests (uses a separate test database)."
run = "./mvnw test"

[tasks.stop-rm-db]
run ="docker stop some-mongo && docker rm some-mongo"